/* .nav-scroller {
    background: #003366 !important;
}

.bg-background {
    background: #003366 !important;
} */

.turbolinks-progress-bar {
    height: 5px;
    background-color: green;
}

.modal-backdrop.fade {
    /* backdrop-filter: blur(1px); */
    background-color: #01223770;
}


/* .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
} */

.form-control {
    border-radius: 0px !important;
    /* border: 1px solid #003366 !important; */
    color: white;
}

.form-select {
    border-radius: 0px !important;
    /* border: 1px solid #003366 !important; */
    color: white;
}